<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>API analysis page</title>
</head>

<body>
    <!-- <form action="/" method="POST">
        <input type="text" name="url" id="url" />
        <input type="submit" value="Add URL" id="btn_url" />
    </form> -->
    <div class="grid-container">
        <div class="grid-item">
            <div class = "sub-grid-item">
                <div><button id="analyze" type="button" onclick="callFunction()">APIs Guru</button></div>
            </div>
            <div class="sub-grid-item">Data Info</div>
            <div class="sub-grid-item"> Some other Inof</div>
            <div class="sub-grid-item"> Some additional Inof</div>
        </div>
        <div class="grid-item">
            <div>
                <svg width="300" height="300"></svg>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>

</html>