<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>API analysis page</title>
</head>

<body>
    <!-- <form action="/" method="POST">
        <input type="text" name="url" id="url" />
        <input type="submit" value="Add URL" id="btn_url" />
    </form> -->
    <div class="grid-container">
        <div class="grid-item-1">
            <div class = "sub-grid-item-1">
                <div><button id="analyze" type="button" onclick="callFunction()">APIs Guru</button></div>
            </div>
            <div class="sub-grid-item-1">
                <div class="display-box-wrapper">
                    <div class="label">Total APIs:</div>
                    <div class="display-box" id="num_apis">Content...</div>
                </div>
                <div class="display-box-wrapper">
                    <div class="label">Total EndPoints:</div>
                    <div class="display-box" id="num_endpoints">...</div>
                </div>
                <div class="display-box-wrapper">
                    <div class="label">Version Count:</div>
                    <div class="display-box">Content...</div>
                </div>
            </div>
            <div class="sub-grid-item-1"> Some other Inof</div>
            <div class="sub-grid-item-1"> Some additional Inof</div>
        </div>
        <div class="grid-item-2">
            <div class="sub-grid-item-2">
                <svg width="300" height="300"></svg>
            </div>
            <div class="sub-grid-item-2">
                Additional information
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>

</html>