<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Index Page</title>
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="api_header" value="api header..." id="api_key_header" />
        <input type="text" name="api_key" value="api key..." id="api_key" />
        <input type="text" name="url" id="url" />
        <input type="submit" value="Add URL" id="btn_url" />
    </form>
    <!-- <div> Version: {{info.version}} </div>
    <div> Versioning Method: {{info.domain}}</div>
    <div> Version Identifier Format: {{info.identifier}}</div>
    <div id="data" style="background-color: aquamarine; width: 100%; height: 100%;">
        <div>
            <h1>Header Info</h1>
            {% for info in header %}
            <div> {{info.header}} ----------- {{info.value}} </div>
            {% endfor %}
        </div>
        <!-- <div>
            <h1>Body Info</h1>
            {% for info in body %}
            <div> {{info.header}} ----------- {{info.value}} </div>
            {% endfor %}
        </div> -->
    </div> -->
    <!-- <div>{{body}}</div> -->
    <!-- <div id="header" style="background-color: aquamarine; width: 100%; height: 100%;"> 
        {{api_info}}
    </div>
    <div id="body" style="background-color: aquamarine; width: 100%; height: 100%;"> 
        {{api_info}}
    </div> -->
</body>

</html>